<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<title>Admin Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>
	<div class="container">
	
		<form th:action="@{/logout}" method="get">
			<button class="btn btn-md btn-danger btn-block" name="registration"
				type="Submit">Logout</button>
		</form>    
		
		<div class="panel-group" style="margin-top:40px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span th:utext="${userName}"></span>
				</div>
				<div class="panel-body" style="height: calc(100vh - 120px);">
					<div class="row">
						<div class="col-md-5">
							<form autocomplete="off" action="#" th:action="@{/work_log}" th:object="${workLog}" method="post" class="form-horizontal" role="form">
								<h2>Work Log Form</h2>
								
								<div class="form-group">
									<div class="col-sm-9">
										<input type="date" th:value="*{currentDate}" th:field="*{currentDate}"  class="form-control" /> 
										<label th:if="${#fields.hasErrors('currentDate')}" th:errors="*{currentDate}"	class="validation-message"></label>
									</div>
								</div>
								
								<div class="form-group">
									<div class="col-sm-9">
										<input type="text" th:field="*{jiraId}" placeholder="Jira Id" class="form-control" /> 
										<label th:if="${#fields.hasErrors('jiraId')}" th:errors="*{jiraId}"	class="validation-message"></label>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-9">
										 <select class="form-control" th:field="*{workTypeId}">
									        <option value="">Select Work Type</option>
									        <option th:each="wt : ${workTypes}"
									                th:value="${wt.id}"
									                th:text="${wt.type}"></option>
									    </select>
									    <label th:if="${#fields.hasErrors('workTypeId')}" th:errors="*{workTypeId}"	class="validation-message"></label>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-9">
										<input type="text" th:field="*{hour}"  placeholder="0.0 (in hr.)" class="form-control" /> 
										<label th:if="${#fields.hasErrors('hour')}" th:errors="*{hour}"	class="validation-message"></label>
									</div>
								</div>
								
								<div class="form-group">
									<div class="col-sm-9">
										<textarea class="form-control" rows="2" th:value="*{description}" th:field="*{description}" th:placeholder="Description"></textarea>
									</div>
								</div>
								
								<div class="form-group">
									<div class="col-sm-9">
										<button type="submit" class="btn btn-primary btn-block">Submit</button>
									</div>
								</div>								
							</form> 
						</div>
						<div class="col-md-7">
							<h2>Previous Logs</h2>
							<div class="table-responsive" style="height: calc(100vh - 200px);  overflow-y: auto;">
							 <table class="table table-bordered table-hover">
							 	 <thead>
							      <tr class="active">
							      	<th>Jira Id</th>
							        <th>Work Type</th>
							        <th>Hours</th>
							        <th>Description</th>
							      </tr>
							      </thead>
							      <tbody>
								      <tr th:each="entry : ${workLogs}">
								        <td th:text="${entry.jiraId}">Jira Id</td>
								        <td th:text="${entry.workType}">Work Type</td>
								        <td th:text="${entry.hour}">0.0</td>
								        <td th:text="${entry.description}">0.0</td>
								      </tr>
								   </tbody>
						    </table>
						    </div>
						</div>
					</div>
					
				</div>
				
			</div>
		</div>
		
	</div>
</body>
</html>